/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2026, 3:15:09 PM
    Author     : admin
*/


.Container{
    -fx-background-color:   #121212 ;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-text-fill: #000000;
}

Text{
    -fx-fill: white;
    -fx-font-size: 30;
}

Button{
    -fx-font-size: 15;
    -fx-pref-width: 200;
}