

.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
    -fx-padding: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 3;
    -fx-stroke: gold;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-pref-width: 350;
    -fx-padding: 10;
    -fx-font-size: 14;
}

.Input {
    -fx-pref-width: 250;
    -fx-padding: 5;
}

.combo-box > .list-cell {
    -fx-text-fill: white; 
}